---
layout: single
author_profile: true
title: A Digital Nomad Exploring Creative Flow
excerpt: "Zachary is a digital nomad with roots in Portland, Oregon. He is a
geographer, data scientist, solutions architect, python and web developer,
musician, and a general 'creative'. Follow Zachary as he travels the world and
explores being in a constant state of flow."
header:
  overlay_image: /assets/img/adrian-176321-unsplash.jpg
  overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
  caption: "[Photo by: Adrian](https://unsplash.com/photos/FrSEEdYr418)"
---

<h2>
  About Zachary
</h2>

{% include figure image_path="/assets/img/me2.png" alt="Zachary majestically
looks over his shoulder at something far off in the distance" %}

<p>
  Zachary is a digital nomad with roots in Portland, Oregon. He is a
  geographer, data scientist, solutions architect, python and web developer,
  musician, and a general ‘creative’. He is passionate about building community,
  bridging the gap between people and government, sound and healing,
  and exploring and the outdoors.
</p>

<center>
  <a href="/about/" class="btn btn--primary">Learn More</a>
</center>

<h2>
  Working Remote from Costa Rica
</h2>

{% include figure image_path="/assets/img/Malpais1.JPG" alt="Malpais ocean,
Costa Rica" %}

<p>
  Currently writing this from Casa Solar in the Fuente Verde Ecovillage in
  Tinamaste, Costa Rica. I am here until the 8th of March, my journey began
  on the 4th of February. So much gratitude for this trip.
</p>

<center>
  <a href="/Working-Remote-From-Costa-Rica/" class="btn btn--primary">
    Read the Story
  </a>
</center>
